.Articles{
    margin-top: 50px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.Articles .articleTitle{
    font-size: 25px;
}


@media only screen and (max-width: 1200px) {
    .Articles{
        width: 75%;
    }
  }

  @media only screen and (max-width: 900px) {
    .Articles{
        width: 75%;
    }
    .Articles p{
        font-size: 2vmax;
    }
  }

  @media only screen and (max-width: 600px) {
    .Articles{
        width: 95%;
    }
    .Articles p{
        font-size: 3vmax;
    }
  }