.Article{
    margin-top: 50px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.Article .boldThis{
    font-weight: bold;
}

.Article .italicThis{
    font-style: italic;
}



.Article img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border: 2px solid #ddd;
    border-radius: 5px;
}


@media only screen and (max-width: 1200px) {
    .Article{
        width: 75%;
    }
  }

  @media only screen and (max-width: 900px) {
    .Article{
        width: 75%;
    }
    .Article p{
        font-size: 2vmax;
    }
  }

  @media only screen and (max-width: 600px) {
    .Article{
        width: 95%;
    }
    .Article p{
        font-size: 3vmax;
    }
  }