.PriceComp .PriceCompComponent{
    width: 48%;
    display: inline-block;
    background-color: grey;
    margin-left: 2%;
}

.PriceComp .PriceCompLabel{
    width: 100%;
    text-align: center;
}

.PriceComp .PriceCompNumber{
    text-align: center;
}

.PriceComp .PriceCompLabel{
    text-overflow: clip;
    overflow-wrap: initial;
}